.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.home-container {
  height: 100%;
  background-color: rgba(86,87,94,0.14);
}

.mat-raised-button {
  min-width: 200px;
  margin-left: 20px;
}
