.host-icon {
  /*font-size: 17px;*/
  /*!*width: 15px;*!*/
  /*line-height: 100%;*/
}

.flex-mat-list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 12%;
}

.grid {
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.mat-list-item-style {
  max-width: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columns {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.pointable {
  cursor: pointer;
}


