<div class="grid">
  <mat-list >
    <mat-list-item class="mat-list-item-style" *ngFor="let match of dataSource">
      <img matListAvatar [src]="match.image" alt="...">
      <h3 matLine> {{match.title}} </h3>
      <p matLine>
        <mat-icon class="host-icon" color="primary">accessibility</mat-icon>
        <span> {{match.host}} </span>
      </p>
      <div>
        {{match.currentParticipants}} / {{match.allowedParticipants}}
      </div>
      <mat-icon>done</mat-icon>
      <mat-icon>clear</mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{currentUser.userName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{currentUser.sportType.valueOf() + ' Player'}}
        </mat-card-subtitle>
        <img mat-card-avatar src="{{currentUser.image}}">
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip *ngFor="let playerPositions of currentUser.playerPositions">
            {{playerPositions.valueOf()}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"> Всички мачове </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
