<!-- Match invitations -->
<div class="grid">
  <mat-list >
    <mat-list-item class="mat-list-item-style" *ngFor="let match of dataSource">
      <img matListAvatar [src]="match.image" alt="...">
      <h3 matLine> {{match.title}} </h3>
      <div matLine>
        <mat-icon class="host-icon" color="primary">home</mat-icon>
        <span style="vertical-align: super"> {{match.host}}</span>

        <mat-icon style="padding-left: 20%" class="host-icon" color="primary">location_on</mat-icon>
        <span style="vertical-align: super"> {{match.place}}</span>
      </div>
      <div matLine>
        <mat-icon class="host-icon" color="primary">email</mat-icon>
        <span style="vertical-align: super"> {{match.host}}</span>
      </div>

      {{match.currentParticipants}} / {{match.allowedParticipants}}

      <div>
        <div *ngIf="match.isMatchFull()">
          <mat-icon>hourglass_top</mat-icon>
        </div>

<!--        <div style="display: flex; flex-direction: row" *ngIf="!match.isMatchFull()">-->
<!--          <mat-icon >access_time</mat-icon>-->
<!--        </div>-->

        <div style="display: flex; flex-direction: row" *ngIf="!match.isMatchFull()">
          <mat-icon class="pointable" (click)="accept(match)" *ngIf="isMatchAccepted(match)">done</mat-icon>
          <mat-icon class="pointable" (click)="reject(match)" *ngIf="isMatchRejected(match)">clear</mat-icon>
          <mat-icon class="pointable" (click)="maybe(match)" *ngIf="isMatchMaybe(match)">help_outline</mat-icon>
        </div>
      </div>


      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

<!--  Profile info-->
  <div>
    <mat-card>
      <mat-card-header class="center">
        <mat-card-title>
          {{currentUser.userName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{currentUser.sportType.valueOf() + ' Player'}}
        </mat-card-subtitle>
        <img mat-card-avatar src="{{currentUser.image}}">
      </mat-card-header>
      <mat-card-content class="center">
        <div class="columns">
          <div class="statistic-row">
            <div>
              <p>played matches</p>
              <p class="center">4</p>
            </div>
            <div>
              <p>friends</p>
              <p class="center">12</p>
            </div>
            <div>
              <p>goals</p>
              <p class="center">12</p>
            </div>
          </div>

          <div class="center">
            <mat-chip-list>
              <mat-chip *ngFor="let playerPositions of currentUser.playerPositions">
                {{playerPositions.valueOf()}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="center">
<!--        <button mat-raised-button color="primary"> Всички мачове </button>-->
        <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
          <mat-icon>sports_soccer</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
          <mat-icon>person_add_alt_1</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
