$var-green: (
  50 : #e6f2e5,
  100 : #c1debd,
  200 : #97c992,
  300 : #6db366,
  400 : #4ea245,
  500 : #2f9224,
  600 : #2a8a20,
  700 : #237f1b,
  800 : #1d7516,
  900 : #12630d,
  A100 : #9bff97,
  A200 : #6aff64,
  A400 : #39ff31,
  A700 : #21ff18,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
