$var-blue: (
  50 : #e1e6ea,
  100 : #b4c0cb,
  200 : #8296a8,
  300 : #506c85,
  400 : #2b4d6a,
  500 : #052d50,
  600 : #042849,
  700 : #042240,
  800 : #031c37,
  900 : #011127,
  A100 : #628eff,
  A200 : #2f69ff,
  A400 : #0046fb,
  A700 : #003fe1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
