<div class="outer-container">

  <div class="profile-data-container">

    <div class="profile-personal-data">
      <h2> Chris </h2>
    </div>

    <div class="profile-sport-data-fields">
      <p>25 old</p>
      <p>defender</p>
      <p>casual player</p>
      <p>response rate</p>
    </div>

    <div class="profile-data-buttons">
      <button mat-button>My Matches</button>
      <button mat-button>My Friends</button>
      <button mat-button>My Fields</button>
      <button mat-button>Edit my profile</button>
    </div>
  </div>

</div>
