
<div class="container">
    <div class="register-fields">
      <div>
        <h2>Register to start your pocket football journey</h2>
      </div>


      <form class="field">
        <mat-label>
          Full Name
        </mat-label>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>
      </form>

      <form class="field">
        <mat-label>
          Last Name
        </mat-label>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>
      </form>

      <form class="field">
        <mat-label>
          Email Address
        </mat-label>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>
      </form>

      <form class="field">
        <mat-label>
          Password
        </mat-label>
        <mat-form-field appearance="fill">
          <input type="password" matInput>
        </mat-form-field>
      </form>

      <form class="field">
        <mat-label>
          Re-Password
        </mat-label>
        <mat-form-field appearance="fill">
          <input type="password" matInput>
        </mat-form-field>
      </form>

      <button mat-raised-button color="primary"> Register </button>
  </div>
</div>
