.container {
  display: flex;
  justify-content: center;
}

.register-fields {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
