.container {
  display: flex;
  justify-content: center;
}

.register-fields {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 60%;
}

button {
  width: 40%;
  left: 50%;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
